server:
  port: 8080

spring:
  datasource:
    url: jdbc:mariadb://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:granada_guide}?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: ${DB_USER:granada}
    password: ${DB_PASS:granada_pass}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 12MB

app:
  jwt:
    secret: ${JWT_SECRET:change_me_dev_only}
    expiration-minutes: ${JWT_EXPIRES_MIN:10080}
  upload:
    dir: ${UPLOAD_DIR:uploads}
